
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url("images/developer.png"), url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left, bottom right;

}
/* shared style */
.text-primary{
    color:#fd6e0a;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #fd630a;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
main{
    max-width: 1140px;
    margin: 0px 150px;
    margin-top: 130px;
   
}
.about{
    width: 1140px;
    height: 550px;
 padding: 130px 150px;
    background-color: #FFF8F3;
    text-align: center;
    align-content: center;
    border-radius: 10px;
   
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-title{
    font-weight:800;
    font-size: 18px;
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
   font-weight: bold;
   font-size: 20px;
}
.skills{
   width: 909px;
    margin:0 0 0 270px;
    
}
.text-center{
    text-align: center;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;

}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 45px 0px 200px;
    
}
.banner-content{
    max-width: 580px;
    
}

.banner-greeting{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-photo{
    width: 580px;
   
}
/* skill-section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
<<<<<<< HEAD
=======
/* reusme section */
.resume-container{
    display: flex;
    gap: 24px;
    margin-left: 370px;
    
}
.section-title3{
    text-align: center;
    margin-left: 284px;
}
.d2{
    margin-left: 334px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
   color:  #757575;
}
footer{
    height: 780px;
  font-size: 130px 250px; 
  display: flex; 
  /* justify-content: center;
  align-items: center; */
  gap: 100px;
  background-color:#FFF8F3;
  
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    

}
.footer-column{
    display: flex;
    flex-direction: column;
    width: 50%;
   margin-top: 50px;
   padding: 150px;
  
}


.text-center{
    text-align: center;
    margin-top: 50px;
}
>>>>>>> a09a3ce (Fix broken git and commit saved files)

